<!DOCTYPE html>
<html class="">
  <head>
  <title>Ecommerce Assignment</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="../styles/style.css" rel="stylesheet">   
  </head>
<body>
  <div class="container">
    <!-- header -->
    <div class="header">
      <div class="wrapper">
        <div class="fl-row">
          <div class="fl-column">
            <a href="" class="logo">Company logo</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="wrapper">
      <div class="content-wrapper">
        <div class="search">
          <input type="search" placeholder="Search for products, brands and more"/>
          <button class="search__btn">
            <img src="../images/search.svg" height="14" alt="search-icon"/>
          </button>
        </div>
        <div class="product-list">
          <h1 class="font-m heading">ONLY THE BEST</h1>
          <p class="sub-heading">Popular products that people are shopping for right now</p>
          <div class="fl-row fl-row--gutter fl-row--wrap">
            <div class="fl-column fl-column--4">
              <div class="card">
                <div class="card__img">
                  <img src="../images/product1.jpg" alt="product-img"/>
                </div>
                <div class="card__content txt-c">
                  <p class="font-xs">Chandelier</p>
                  <span class="">Rs. 1079</span>
                  <span class="txt-strike-through">Rs. 3599</span>
                </div>
                
              </div>
            </div>
            <div class="fl-column fl-column--4">
              <div class="card">
                <div class="card__img">
                    <img src="../images/product2.jpg" alt="product-img"/>
                </div>
                <div class="card__content txt-c">
                  <p class="font-xs">Ganesha Showpieces</p>
                  <span class="">Rs. 1079</span>
                  <span class="txt-strike-through">Rs. 3599</span>
                </div>
                
              </div>
            </div>
            <div class="fl-column fl-column--4">
              <div class="card">
                <div class="card__img">
                    <img src="../images/product3.jpg" alt="product-img"/>
                </div>
                <div class="card__content txt-c">
                  <p class="font-xs">Indoor Water Fountain</p>
                  <span class="">Rs. 1079</span>
                  <span class="txt-strike-through">Rs. 3599</span>
                </div>
                
              </div>
            </div>
            <div class="fl-column fl-column--4">
              <div class="card">
                <div class="card__img">
                    <img src="../images/product4.jpg" alt="product-img"/>
                </div>
                <div class="card__content txt-c">
                  <p class="font-xs">Wall Paintings</p>
                  <span class="">Rs. 1079</span>
                  <span class="txt-strike-through">Rs. 3599</span>
                </div>
                
              </div>
            </div>
            <div class="fl-column fl-column--4">
              <div class="card">
                <div class="card__img">
                    <img src="../images/product5.jpg" alt="product-img"/>
                </div>
                <div class="card__content txt-c">
                  <p class="font-xs">Bonsai Palm Plant</p>
                  <span class="">Rs. 1079</span>
                  <span class="txt-strike-through">Rs. 3599</span>
                </div>
                
              </div>
            </div>
            <div class="fl-column fl-column--4">
              <div class="card">
                <div class="card__img">
                    <img src="../images/product6.jpg" alt="product-img"/>
                </div>
                <div class="card__content txt-c">
                  <p class="font-xs">Wave Wall Shelf</p>
                  <span class="">Rs. 1079</span>
                  <span class="txt-strike-through">Rs. 3599</span>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">

    </div>
  </div>
</body>
</html>
