// Text Colors
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #333333;
$color-base: #666666;
$color-light: #999999;
$color-border: #e0e0e0;
$color-delight-primary: #e13577;

// Background Colors
$bg-dark: #333333;
$bg-delight-primary: #e13577;
$bg-delight-secondary: #24dd8f;
