<!DOCTYPE html>
<html class="">

<head>
  <title>PROPTIGER ASSIGNMENT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
  <link href="../styles/style.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <!-- header -->
    <div class="header">
      <div class="wrapper">
        <div class="fl-row">
          <div class="fl-column">
            <a href="" class="logo">Company logo</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Container -->
    <div class="content-wrapper">
      <div class="wrapper">
        <div class="fl-row fl-row--gutter">
          <div class="fl-column fl-column--2">
            <div class="card">
              <div class="fl-row fl-row--start fl-row--gutter">
                <div class="fl-column">
                  <div class="card__img">
                    <img src="/images/img1.jpeg" height="212" alt="card-image" />
                  </div>
                </div>
                <div class="fl-column full-width">
                  <div class="card__content">
                    <div class="section">
                      <h3 class="card__heading font-bold inr">2.5 Cr</h3>
                    </div>

                    <div class="section">
                      <p class="color-dark txt-capitalize font-medium h2">the Morning</p>
                      <div class="margin-t-s">
                        <p class="color-dark font-light h5">by Signature Group</p>
                      </div>
                    </div>

                    <div class="section">
                      <p class="color-dark font-light h5">1RK, 1, 2, 3 BHK Apartments</p>
                      <div class="margin-t-s">
                        <p class="color-light font-light h5">Neral, Beyond Thane</p>
                      </div>
                    </div>

                    <!-- Card Offer -->
                    <div class="section--large">
                      <div class="card-offer">
                        <div class="tooltip-wrapper">
                          <span class="tag tag--primary txt-uppercase margin-r-s">3 offers</span>
                          <span class="h5">1 Event + 2 Project</span>
                          <div class="tooltip">
                            <div class="section--large">
                              <h3 class="txt-uppercase color-delight-primary h4 font-medium">Event offer</h3>
                              <ul class="margin-t-m">
                                <li class="h5 color-dark">Free stamp duty</li>
                              </ul>
                            </div>
                            <div class="section--large">
                              <h3 class="txt-uppercase color-delight-primary h4 font-medium">Project offer</h3>
                              <ul class="margin-t-m">
                                <li class="h5 color-dark"> 
                                  <p class="txt-ellipsis">Pay 1% downpayment and 99% loan Pay 1% downpayment and 99% loan Pay 1% downpayment and 99% loan Pay 1% downpayment and 99% loan Pay 1% downpayment and 99% loan</p>
                                </li>
                                <li class="h5 color-dark">PMAY applicable</li>
                              </ul>
                            </div>
                            <div class="tooltip__arrow"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Contact CTA -->
              <button class="btn btn--delight--secondary font-light card__cta">Contact</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</body>

</html>