.fl-row {
  display: flex;
  justify-content: space-between;
  &--start {
    justify-content: flex-start;
  }
  &--middle {
    align-items: center;
  }
  &--wrap {
    flex-wrap: wrap;
    justify-content: initial;
  }
}
.fl-column {
  &--4 {
    flex-basis: 50%;
    @media only screen and (min-width: 600px){
      flex-basis: 33.33%;
    }
    @media only screen and (min-width: 960px){
      flex-basis: 25%;
    }
  }
}
.fl-row--gutter {
  margin-left: -0.7em;
  margin-right: -0.7em;
  > .fl-column {
    padding: 0 0.7em;
  }
}