html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-size: 62.5%; //1em = 10px
	font-family: 'Lato', sans-serif;
	color: #333;
	line-height: 1.5;
	height: 100%;
}

h1, h2 {
	margin-bottom: 30px;
	margin-top:0;
	line-height: 1;
}

h1{
	font-size: 7em;
}

h2{
	font-size: 2em;
}

p {
	font-family: "Open Sans", sans-serif;
	font-size: 1.3em;
	margin-bottom: 1.5em;
}